<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.vsmart-solutions.mobile_app"
    version   = "1.0.0">

<name>Tamal Testing Application</name>

<description>
A simple Application build by Tamal
</description>

<author href="https://vsmart-solutions.com" email="tamal.nemesis@gmail.com">
Tamal Dey
</author>

</widget>
